*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(89, 139, 104);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    height: 80px;
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor{
    width: 90%;
    margin: 20px auto;
}
.contenedor input[type="text"], input[type="tel"] {
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-align: center;
}

.botones{
    display: flex;

}
.btn{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.btn:hover{
    background-color: #fff;
    transition: 0.2s ease-in-out;
}
