*{
    margin: 0;
    padding: 0;    
    text-decoration: none;
    background: #457b9d;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    margin: auto;
    text-align: left;
    padding: 20px;
    border: 2px solid #554d4d;
}

.contenedor li{
    margin: 15px;
    padding: 5px;
    list-style: none;
    color: #000000;
    border-radius: 5px;
    background-color: #ffafcc;
    cursor: pointer;
    border: none;
    box-shadow: #000000 5px 8px 10px 1px;
}
